body{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.nav-purple {
  color: rgb(80, 5, 80);
  background-color: rgb(147, 64, 147);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0%;
}
nav div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav div img{
  height: 120px;
  width: 120px;
  object-fit: contain;
  justify-self: flex-start;
  padding-left: 40px;
}
nav div h1{
font-size: 25px;
padding: 0%;
}
nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 240px;
  margin-left: 130px;
}
nav ul li{
  padding: 20px 60px;
}
nav ul li a{
  color: rgb(80, 5, 80);
  text-decoration: none;
  list-style: none;
  font-size: 20px;
}
.carrito{
  justify-self: flex-end;
}
.msj-bienvenida{
  text-align: center;
  background-color: gray;
  color: rgb(69, 35, 69);
  height: 50vh;
  align-content: center;
}
div h1{
  padding: 40px;
}


